# 01. Importing Libraries & Data

In [1]:
#### Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#### Define path
pickle_file_path = os.path.join(
    r'C:\Users\cemel\Documents\30-12-2023 Instacart Basket Analysis (Achievement 4)',
    '02 Data', 'Prepared Data', 'ords_prods_agg_pythonviz.pkl'
)

In [3]:
#### Load the pickle file into Pandas DataFrame
df_readmat = pd.read_pickle(pickle_file_path)

## Check the Output

In [4]:
df_readmat.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,...,mean_order_frequency,order_frequency_flag,first_name,surname,gender,state,age,dependants,family_status,income
user_id,,,,,,,,,,,,,,,,,,,,,
115,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4,3278419,9,4,18,4.0,...,10.0,Frequent Customer,Carol,Soto,Female,Idaho,77,3,married,98736
138,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,28,6,11,3.0,...,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,1,married,49620
138,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,30,6,17,20.0,...,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,1,married,49620
225,9,Light Strawberry Blueberry Yogurt,120,16,7.0,169443,11,4,10,6.0,...,15.0,Regular customer,Elizabeth,Tapia,Female,Montana,76,3,married,69724
295,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4,2287043,7,4,13,1.0,...,6.0,Frequent Customer,John,Harris,Male,Rhode Island,51,2,married,167566

In [5]:
df_readmat.shape

(32404859, 30)

# 02. Creating Crosstabs

In [7]:
#### Creating a crosstab between the 'days_since_prior_order' column and the 'order_number' column
crosstab = pd.crosstab(df_readmat['days_since_prior_order'], df_readmat['order_number'], dropna = False)

In [8]:
#### Due to size, copy the crosstab table straight to clipboard to allowing for paste it into Excel for easy viewing
crosstab.to_clipboard()

# 03. Using Python Text Editor

In [9]:
#### Copy all the columns from Python using the df.columns function
df_readmat.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'order_number', 'orders_day_of_week', 'time_of_day',
       'days_since_prior_order', 'add_to_cart_order', 'reordered',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spender_flag', 'mean_order_frequency',
       'order_frequency_flag', 'first_name', 'surname', 'gender', 'state',
       'age', 'dependants', 'family_status', 'income'],
      dtype='object')