# Table of Contents

## 01. Importing Libraries & Data

## 02. Security Implications for Data (Personally Identifiable Information [PII])

## 03. Regional Segmentation of Data (Evaluating Regional Customer Behavior)

## 04. Exclusion Flags for Low-Activity Customers

## End of Script. See 'Task for Exercise 4.10 - Part 2' for continuation.

# 01. Importing Libraries & Data

In [1]:
#### Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#### Define path
pickle_file_path = os.path.join(
    r'C:\Users\cemel\Documents\30-12-2023 Instacart Basket Analysis (Achievement 4)',
    '02 Data', 'Prepared Data', 'ords_prods_agg_pythonviz.pkl'
)

In [3]:
#### Load the pickle file into Pandas DataFrame
df_task = pd.read_pickle(pickle_file_path)

## Check the Output

In [4]:
df_task.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,...,mean_order_frequency,order_frequency_flag,first_name,surname,gender,state,age,dependants,family_status,income
user_id,,,,,,,,,,,,,,,,,,,,,
115,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4,3278419,9,4,18,4.0,...,10.0,Frequent Customer,Carol,Soto,Female,Idaho,77,3,married,98736
138,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,28,6,11,3.0,...,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,1,married,49620
138,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,30,6,17,20.0,...,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,1,married,49620
225,9,Light Strawberry Blueberry Yogurt,120,16,7.0,169443,11,4,10,6.0,...,15.0,Regular customer,Elizabeth,Tapia,Female,Montana,76,3,married,69724
295,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4,2287043,7,4,13,1.0,...,6.0,Frequent Customer,John,Harris,Male,Rhode Island,51,2,married,167566

In [5]:
df_task.shape

(32404859, 30)

# 02. Consider security implications that might exist for the new data (Personally Identifiable Information - PII)

In [6]:
#### Remove the 'first_name' and 'last_name' columns due to the fact that they constitute PII
df_task2 = df_task.drop(['first_name', 'surname', 'busiest_day'], axis=1)

In [7]:
df_task2.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'order_number', 'orders_day_of_week', 'time_of_day',
       'days_since_prior_order', 'add_to_cart_order', 'reordered',
       'price_range_loc', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_product_price', 'spender_flag',
       'mean_order_frequency', 'order_frequency_flag', 'gender', 'state',
       'age', 'dependants', 'family_status', 'income'],
      dtype='object')

### Comments: 'busiest_day' included in columns removed because redundant alongside 'busiest_days' not because it constituted PII

# 03.  Create a regional segmentation of the data comparing customer behavior in different geographic areas

In [8]:
df_task2.loc[(df_task2['state'] =='Maine') 
         | (df_task2['state'] == 'New Hampshire') 
         | (df_task2['state'] == 'Vermont')
         | (df_task2['state'] == 'Massachusetts')
         | (df_task2['state'] == 'Rhode Island')
         | (df_task2['state'] == 'Connecticut')
         | (df_task2['state'] == 'New York')
         | (df_task2['state'] == 'Pennsylvania')
         | (df_task2['state'] == 'New Jersey'), 'region'] = 'Northeast'

In [9]:
df_task2.loc[(df_task2['state'] =='Wisconsin') 
         | (df_task2['state'] == 'Michigan') 
         | (df_task2['state'] == 'Illinois')
         | (df_task2['state'] == 'Indiana')
         | (df_task2['state'] == 'Ohio')
         | (df_task2['state'] == 'North Dakota')
         | (df_task2['state'] == 'South Dakota')
         | (df_task2['state'] == 'Nebraska')
         | (df_task2['state'] == 'Kansas') 
         | (df_task2['state'] == 'Minnesota')
         | (df_task2['state'] == 'Iowa')
         | (df_task2['state'] == 'Missouri'), 'region'] = 'Midwest'

In [10]:
df_task2.loc[(df_task2['state'] =='Delaware') 
         | (df_task2['state'] == 'Maryland') 
         | (df_task2['state'] == 'District of Columbia')
         | (df_task2['state'] == 'Virginia')
         | (df_task2['state'] == 'West Virginia')
         | (df_task2['state'] == 'North Carolina')
         | (df_task2['state'] == 'South Carolina')
         | (df_task2['state'] == 'Georgia')
         | (df_task2['state'] == 'Florida') 
         | (df_task2['state'] == 'Kentucky')
         | (df_task2['state'] == 'Tennessee')
         | (df_task2['state'] == 'Mississippi')
         | (df_task2['state'] == 'Alabama')
         | (df_task2['state'] == 'Oklahoma')
         | (df_task2['state'] == 'Texas')
         | (df_task2['state'] == 'Arkansas')
         | (df_task2['state'] == 'Louisiana'), 'region'] = 'South'

In [11]:
df_task2.loc[(df_task2['state'] =='Idaho') 
         | (df_task2['state'] == 'Montana') 
         | (df_task2['state'] == 'Wyoming')
         | (df_task2['state'] == 'Nevada')
         | (df_task2['state'] == 'Utah')
         | (df_task2['state'] == 'Colorado')
         | (df_task2['state'] == 'Arizona')
         | (df_task2['state'] == 'New Mexico')
         | (df_task2['state'] == 'Alaska') 
         | (df_task2['state'] == 'Washington')
         | (df_task2['state'] == 'Oregon')
         | (df_task2['state'] == 'California')
         | (df_task2['state'] == 'Hawaii'), 'region'] = 'West'

## 'region' column check

In [12]:
# Perform value_counts() by 'region'
df_task2['region'].value_counts()

region
South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: count, dtype: int64

In [13]:
df_task2['region'].describe()

count     32404859
unique           4
top          South
freq      10791885
Name: region, dtype: object

In [14]:
df_task2['region'].isnull().sum()

0

## Determine whether thereâ€™s a difference in spending habits between the different U.S. regions (Will cross 'region' variable with 'spender_flag' variable)

In [15]:
#### Create crosstab of 'region' and 'spender_flag' columns
ctab_region_spender = pd.crosstab(df_task2['region'], df_task2['spender_flag'], dropna = False)

In [16]:
#### Export crosstab table to clipboard
ctab_region_spender.to_clipboard()

### Table of data on regional spending habits as created in Excel

In [17]:
#### Read the Excel file into a Pandas Dataframe
df_spendhab_reg = pd.read_excel(r'C:\Users\cemel\OneDrive\Documents\CareerFoundry Documents\Data Immersion\Achievement 4 Files\Task for Exercise 4.10 - Part 1.xlsx')

In [18]:
df_spendhab_reg

,Unnamed: 0,region',High_spender,Low_spender,Total_spender,% of spender by 'region',% of High_spender by 'region',% of Low_spender by 'region',% of 'region' in High_spender,% of 'region' in Low_spender
0,NaN,South,209691.0,10582194.0,10791885.0,0.333033,0.019430,0.980570,0.330615,0.333081
1,NaN,West,160354.0,8132559.0,8292913.0,0.255916,0.019336,0.980664,0.252827,0.255977
2,NaN,Midwest,155975.0,7441350.0,7597325.0,0.234450,0.020530,0.979470,0.245922,0.234221
3,NaN,Northeast,108225.0,5614511.0,5722736.0,0.176601,0.018911,0.981089,0.170636,0.176720
4,NaN,Total,634245.0,31770614.0,32404859.0,1.000000,NaN,NaN,1.000000,1.000000
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Comments (Column D):The 'Low_spender' column r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Comments (Columns C&E): Both the 'High-Spender...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#### Drop the 'Unnamed: 0' column
df_spendhab_reg.drop('Unnamed: 0', axis=1, inplace=True)

In [20]:
#### Drop rows 5 to 8
df_spendhab_reg.drop(df_spendhab_reg.index[5:9], inplace=True)

In [21]:
df_spendhab_reg

,region',High_spender,Low_spender,Total_spender,% of spender by 'region',% of High_spender by 'region',% of Low_spender by 'region',% of 'region' in High_spender,% of 'region' in Low_spender
0,South,209691.0,10582194.0,10791885.0,0.333033,0.019430,0.980570,0.330615,0.333081
1,West,160354.0,8132559.0,8292913.0,0.255916,0.019336,0.980664,0.252827,0.255977
2,Midwest,155975.0,7441350.0,7597325.0,0.234450,0.020530,0.979470,0.245922,0.234221
3,Northeast,108225.0,5614511.0,5722736.0,0.176601,0.018911,0.981089,0.170636,0.176720
4,Total,634245.0,31770614.0,32404859.0,1.000000,NaN,NaN,1.000000,1.000000

In [22]:
#### Set the number format to include commas as thousands separators for the 'High_spender','Low_spender' and 'Total_spender' columns
pd.options.display.float_format = '{:,.0f}'.format

In [23]:
#### Format specific columns as percentages with two decimal places
columns_to_format_as_percentage = ['% of spender by \'region\'', 
                                   '% of High_spender by \'region\'', 
                                   '% of Low_spender by \'region\'', 
                                   '% of \'region\' in High_spender', 
                                   '% of \'region\' in Low_spender']

In [24]:
for column in columns_to_format_as_percentage:
    df_spendhab_reg[column] = df_spendhab_reg[column].apply(lambda x: '{:.2%}'.format(x))

In [25]:
#### Format specific columns with commas as thousands separators
columns_to_format_with_commas = ['High_spender', 'Low_spender', 'Total_spender']
for column in columns_to_format_with_commas:
    df_spendhab_reg[column] = df_spendhab_reg[column].apply(lambda x: '{:,.0f}'.format(x))

In [26]:
df_spendhab_reg

,region',High_spender,Low_spender,Total_spender,% of spender by 'region',% of High_spender by 'region',% of Low_spender by 'region',% of 'region' in High_spender,% of 'region' in Low_spender
0,South,"209,691","10,582,194","10,791,885",33.30%,1.94%,98.06%,33.06%,33.31%
1,West,"160,354","8,132,559","8,292,913",25.59%,1.93%,98.07%,25.28%,25.60%
2,Midwest,"155,975","7,441,350","7,597,325",23.45%,2.05%,97.95%,24.59%,23.42%
3,Northeast,"108,225","5,614,511","5,722,736",17.66%,1.89%,98.11%,17.06%,17.67%
4,Total,"634,245","31,770,614","32,404,859",100.00%,nan%,nan%,100.00%,100.00%

In [27]:
#### Rename the column 'region'' to 'region'
df_spendhab_reg.rename(columns={"region'": "region"}, inplace=True)

In [28]:
df_spendhab_reg

,region,High_spender,Low_spender,Total_spender,% of spender by 'region',% of High_spender by 'region',% of Low_spender by 'region',% of 'region' in High_spender,% of 'region' in Low_spender
0,South,"209,691","10,582,194","10,791,885",33.30%,1.94%,98.06%,33.06%,33.31%
1,West,"160,354","8,132,559","8,292,913",25.59%,1.93%,98.07%,25.28%,25.60%
2,Midwest,"155,975","7,441,350","7,597,325",23.45%,2.05%,97.95%,24.59%,23.42%
3,Northeast,"108,225","5,614,511","5,722,736",17.66%,1.89%,98.11%,17.06%,17.67%
4,Total,"634,245","31,770,614","32,404,859",100.00%,nan%,nan%,100.00%,100.00%

### Comments: (1) The 'Low_spender' column reflects the higher portion of spenders in each region. Additionally, the highest amount of spenders for this column is in the South. (2) Both the 'High-Spender' and the 'Total_spender columns have the highest concentrations of spenders in the 'South' region of the U.S.

# 04.  Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data

In [29]:
#### Create the 'exclusion_flag' column and initialize it as 'unknown'
df_task2['exclusion_flag'] = 'unknown'

In [30]:
#### Update the values in the 'exclusion_flag' column based on conditions
df_task2.loc[df_task2['max_order'] >= 5, 'exclusion_flag'] = 'Include'
df_task2.loc[df_task2['max_order'] < 5, 'exclusion_flag'] = 'Exclude'

In [31]:
#### Check the counts of each flag
df_task2['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
Include    30964564
Exclude     1440295
Name: count, dtype: int64

In [32]:
#### Ensure that each record received a value assignment of either 'Include' or 'Exclude' (flag total should equal 32404859 [number of rows in df])
30964564 + 1440295

32404859

## Check the Output

In [33]:
df_task2[['max_order', 'exclusion_flag']].head()

         max_order exclusion_flag
user_id
115             12        Include
138             32        Include
138             32        Include
225             11        Include
295             23        Include

In [34]:
df_task2[['max_order', 'exclusion_flag']].tail()

         max_order exclusion_flag
user_id
206202          22        Include
206202          22        Include
206202          22        Include
206202          22        Include
206202          22        Include

## Create subset dataframe of all rows to exclude (customers with 'max_orders' < 5 times)

In [35]:
df_task2_exclude = df_task2[df_task2['exclusion_flag'] == 'Exclude']

In [36]:
df_task2_exclude.shape

(1440295, 29)

## Export the 'df_task2_exclude' for records as pkl file to Prepared Data folder

In [37]:
#### Define path
path = r'C:\Users\cemel\Documents\30-12-2023 Instacart Basket Analysis (Achievement 4)'

In [38]:
#### Export 'df_task2_exclude'
df_task2_exclude.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ordprod_pyviz_exclusions.pkl'))

## Remove exclusions from 'df_task2' dataframe (i.e. Create new dataframe with only "Include" rows)

In [39]:
df_task2_include = df_task2[df_task2['exclusion_flag'] == 'Include']

In [40]:
df_task2_include.shape

(30964564, 29)

### Comments: Size of 'df_task2_exclude' + Size of 'df_task2_include' = Count of 'exclusion_flag'. Therefore, separation of all records into one of the two aforementioned dataframes has been a success.

In [41]:
# Export 'df_task2_include' as pickle file to Prepared Data folder
df_task2_include.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ordprod_pyviz_inclusions.pkl'))

# End of Script. See 'Task for Exercise 4.10 - Part 2' for continuation.